body 
{
    background-image: url(../images/fond-site.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 17px;
}

#position_body
{
    margin-top : 30px;
}

#En-tete
{
    background-color:#222;   
    font-size: 70px;
    color: white;
    margin: auto;
    text-align: center;
    text-shadow: 0px 1px 5px black;
}

#connexion
{
    background-color: #222;
    background-position: center;
    transition:.5s;
    text-align: center;
    color : white;
    padding-top : 0.1%;
    padding-bottom : 2%;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;
}

#date_NF
{
    width : 250px;
    margin: auto;
}

.natureFrais
{
    width: 150px;
}

.labelLeft
{
    display: block;
    float: left; 
    width: 150px;  
}

.labelRight
{
    float: right; 
}

.navbar-inverse 
{

    border-radius : 0px;
    border-style : none;
}

.form-control
{
    width:80%;
    margin: auto;
}

.form-inline
{
    width:80%;
    margin: auto;
}

.btn-primary
{
    border-radius: 10px;
}

.admin
{
    max-width:85%;
    margin:2rem auto;
}

.responsive-table-line
{
    margin:0px auto;
    max-width:500px;
    max-height: 300px;
    overflow-y: scroll;
}

.w-auto 
{ /*Tableau*/
    width: auto;
}

#logo
{
    width:30px;
    height:30px;
}

/*-----------------------------LOGO QUI TOURNE--------------------------------*/
@-webkit-keyframes rotating
{
    from 
    {
        /*-webkit-transform:translateX(0px) rotateY(0deg);*/
        -webkit-transform:rotateY(0deg);
    }
    to 
    {
        /*-webkit-transform:translateX(150px)rotateY(360deg);*/
        -webkit-transform:rotateY(360deg);
    }
}

.rotating
{
    -webkit-animation: rotating 2s linear infinite;
}

/*---------------------------------MENU--------------------------------------*/
.tab-links
{
    display:flex;
    text-align: center;
}

.tab-links__item::after
{
    position:absolute;
    z-index:-1;
    transition:.2s ease-in-out;
    transform:translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tab-links__item.is-active::after
{
    transform:translate3d(0,0,0);
}

.tab-content__item
{
    display:none;
}

.tab-content__item.is-active
{
    display:block;
}

/*--------------------------TABLEAU RESPONSIVE-------------------------------*/
@media (max-width: 500px) {
    .responsive-table-line td:before { content: attr(data-title); }
    .responsive-table-line table, 
    .responsive-table-line thead, 
    .responsive-table-line tbody, 
    .responsive-table-line th, 
    .responsive-table-line td, 
    .responsive-table-line tr { 
        display: block; 
    }

    .responsive-table-line thead tr { 
        display:none;
    }
    .responsive-table-line td { 
        position: relative;
        border: 0px solid transparent;
        padding-left: 50%; 
        white-space: normal;
        text-align:right; 
    }

    .responsive-table-line td:before { 
        position: absolute;
        top: 0px;
        left: 0px;
        width: 45%; 
        padding-right: 15px; 
        height:100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        text-align:left;
        background-color:#f8f8f8;
        padding:2px;
    }
}



.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input[type="submit"]{
    padding-left: 2em;
}
.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}